.title_name{
    color :#42c7c1;
    font-family :"Pacifico", sans-serif;
    display:inline-block;
    border-bottom: 3px solid;
    border-top: 3px solid;
    padding-top:10px;
    padding-bottom:10px;
}

.title{
    text-align:center;
    /*ブロック要素を中央揃え*/
}

.title h6 {
    color :#c0c0c0;
}
.main{
    margin:auto;
    text-align:center;
    display:flex;
    flex-wrap:wrap;
    width:500px;
    justify-content:space-between;
}

.main h5
    color :#42c7c1;
    margin:auto;
}

.main h6{
    color :#c0c0c0;
    margin:auto;
}

.main p{
    margin:3px;
}

.btn {
    background-color :#42c7c1;
    color :#fff;
}


.chilli{
    height:10px;
    width:10px;
    margin:-2px;
    padding-top:-2px;
}

.menu_jpg{
    width:165px;
    height:135px;
    margin:10px;
}

.num{
    width:50px;
}

