.title_name{
    color :#42c7c1;
    font-family :"Pacifico", sans-serif;
    display:inline-block;
    border-bottom: 3px solid;
    border-top: 3px solid;
    padding-top:10px;
    padding-bottom:10px;
}


.title h6 {
    color :#c0c0c0;
}

.menu h3 {
    color :#42c7c1;
}

.btn {
    background-color :#42c7c1;
    color :#fff;
}

.menu{
    justify-content: center;
}

